<div class="container">
  <app-nav [user]="user"></app-nav>
</div>
<div class="container">
  <div class="page-header">
    <h1 *ngIf="!user.auth"> Welcome - Please Login....</h1>
  </div>
</div>
 {{appState}}
 <div [ngSwitch]="appState">
   <span *ngSwitchCase="'add'">APPSTATE === app</span>
   <span *ngSwitchCase="'extend'">APPSTATE === extend</span>
   <span *ngSwitchCase="'default'">APPSTATE === default</span>
   <span *ngSwitchCase="'edit'">APPSTATE === edit</span>
   <span *ngSwitchDefault>DEFAULT</span>
 </div>
<br>


<div class="container" *ngIf="user.auth">
  <div [ngSwitch]="appState">
    <div *ngSwitchCase="'add'">
      <app-new-business [newBusiness]="newBusiness" [categories]="categories" (newBusinessRequest)="onBusinessCreated($event)"></app-new-business>
    </div>
    <div *ngSwitchDefault>
      <button class="btn btn-primary" (click)="changeState('add')"> Add Business </button>
    </div>
  </div>
  <div *ngIf="appState === 'edit'">
    <app-edit-business [business]="selectedBusiness"  [categories]="categories"
                      (save)="updateBusiness($event)" (cancel)="changeState('default')">
    </app-edit-business>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col">
      <label> Filter Category </label>
      <select class="custom-select" (change)="filterCategory(filteredCategory.value)" #filteredCategory>
        <option ></option>
        <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
      </select>
    </div>
  </div>
  <br>
  <div class="card" *ngIf="appState==='extend'">
    <app-show-business [business]="selectedBusiness" (hide)="changeState('default')"></app-show-business>
  </div>
  <app-list-business  [businesses]="businesses"  [categories]="categories"
                      (showDetail)="changeState('extend',$event)" (edit)="changeState('edit',$event)" (delete)="onDeleteBusiness($event)"
                      ></app-list-business>
</div>